{% extends '__base.html.twig' %}

{%block body%}
<h1>{{event['title']}}</h1>
<div>
    {%for idx, quote in quotes%}
    <div> 
        <h3>{{quote['quote']}}</h3>
        le {{quote['created_at']['date']|date('d/m/y')}} à  {{quote['created_at']['date']|date('H:i')}}
        Votes : {{quote['votes_count']}} <a href="{{path('post_vote', {'keyword':event['keyword'],'id':quote['id']})}}">Voter</a>
    </div>
    {%endfor%}
</div>
{%if app.session.get('user_auth_token')%}
<form action="/events/{{event['keyword']}}/quotes" method="post">
    {{form_label(form.content, 'Posez votre question :')}} {{form_widget(form.content)}} <br/>
    {{form_rest(form)}}
    <input type="submit" name="submit" />
</form>
{%endif%}
{%endblock%}
